.mainBody{
    border: 1px solid black;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.row{
    display: flex;
}
button{
    width: 50px;
    height: 50px;
    margin: 5px;
}
input{
    width: 225px;
    height: 50px;
}